google {
    lifeSciences.bootDiskSize = 10.GB
    lifeSciences.preemptible = true
    zone = 'us-east1-b'
    network = 'jax-poc-lifebit-01-vpc-network'
    subnetwork = 'us-east1-sub2'
}

executor {
    name = 'google-lifesciences'
}

params {
    accession = false
    type = "cram"
    loc = "gs.us"
    key_file  = false
    cart_file = false
}

process {
    maxRetries = 1
//  errorStrategy = { task.attempt == process.maxRetries ? 'ignore' : task.exitStatus in [3,14,143,137,104,134,139] ? 'retry' : 'ignore' }
    errorStrategy = 'ignore'

}

profiles {  
    docker { docker.enabled = true }
}
