params {
    accession = false
    accession_file = false
    type = "cram"
    loc = "gs.us"
    key_file  = false
    cart_file = false
    outdir = 'results'
}

process {
    container = 'lifebitai/download_reads:latest'
    maxRetries = 1
//  errorStrategy = { task.attempt == process.maxRetries ? 'ignore' : task.exitStatus in [3,14,143,137,104,134,139] ? 'retry' : 'ignore' }
    errorStrategy = 'ignore'

}

profiles {
  standard {
    includeConfig 'conf/google.config'
   }  
  docker { docker.enabled = true }
  base { includeConfig 'conf/base.config' }
}
